* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #8B8B8B;
}

body {
    background-color: #FAFAFA;
    width: 100vw;
}

.main {
    margin: 60px 20px;
}

section:not(:last-of-type) {
    margin-bottom: 60px;
}

h1, h2 {
    color: #000;
}

h1 {
    margin-bottom: 15px;
    font-size: 28px;
}

h2 {
    font-size: 16px;
}

.text-block {
    font-size: 16px;
}


/* Section intro */

hr {
    margin: 0 auto;
    width: 60px;
    border: none;
    border-top: solid 2px #407BFF;
}

.intro__img {
    width: 70vw;
    margin-bottom: 40px;
}

.intro__description {
    margin: 30px auto;
}

.button {
    margin: 0 auto;
    padding: 11px 30px;
    display: block;
    color: #FFF;
    border: none;
    border-radius: 20px;
}

.button:not(:last-of-type) {
    margin-bottom: 10px;
}

.blue {
    background-color: #407BFF;
}

.grey {
    background-color: #8B8B8B;
}


/* Sections services */

.services__text {
    margin: 15px auto 30px;
}

.card {
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #407BFF1F;
}

.card__icon {
    margin-right: 30px;
}

.card__description {
    text-align: left;
}


/* Media queries */

@media screen and (min-width: 640px) {
    section:not(:last-of-type) {
        margin-bottom: 80px;
    }
    
    .container {
        display: flex;
    }
    
    .text-block {
        margin-bottom: 40px;
        width: 70vw;
    }

    .intro__img {
        width: 55vw;
    }

    .intro__buttons {
        justify-content: center;
        gap: 20px;
    }

    .button, 
    .button:not(:last-of-type) {
        margin: 0;
    }

    .services__services {
        gap: 20px;
    }

    .card {
        margin: 0;
        padding: 40px 10px;
        display: block;
    }

    .card__description {
        text-align: center;
    }

    .card__icon {
        margin: 0 auto 20px;
    }
}